article {
    margin: 10px;
    padding: 10px;
    font-size: 1.25em;
    overflow: hidden;
    border: 1px solid #000;
}
article img {
    margin: 0 10px;
}
article:nth-child(2n-1) img {
    float: left;
}
article:nth-child(2n) img {
    float: right;
}

