h1,h2,h3{
    font-family: Arial, sans-serif;
}

h1{
    font-size: 10ex;
}
h2{
    font-size: 40em;
}
h3{
    font-size: 1.4em;
}
p{
    font-family: Times New Roman, sans-serif;
    font-size: 1.2em;
}
.rodeParagraaf{
    color:red;
}
.groeneParagraaf{
    color:green;
}
.blauweParagraaf{
    color:blue;
}